/// ------------------------- Setting Up Dynamic Colors For Themes ------------------------- ///

:root {
  --primary: 95, 180, 115;
  --secondary: 95, 180, 115;

  --background_page: 23, 23, 23;
  --background_section: 38, 38, 38;
  --background_navMenu: 38, 38, 38;

  --text_primary: 204, 204, 204;
  --text_secondary: 138, 138, 138;
  --text_alternate: 97, 97, 97;
}

$primary: rgb(var(--primary));
$secondary: rgb(var(--secondary));

$background_page: rgb(var(--background_page));
$background_section: rgb(var(--background_section));
$background_navMenu: rgb(var(--background_navMenu));

$text_primary: rgb(var(--text_primary));
$text_secondary: rgb(var(--text_secondary));
$text_alternate: rgb(var(--text_alternate));