/// ------------------------- Setting Up Dynamic Colors For Themes ------------------------- ///

:root {
  --primary: 95, 180, 115;

  --backgroundPrimary: 23, 23, 23;
  --backgroundSecondary: 38, 38, 38;

  --textPrimary: 204, 204, 204;
  --textSecondary: 138, 138, 138;
  --textAlternate: 97, 97, 97;
}

$primary: rgb(var(--primary));

$backgroundPrimary: rgb(var(--backgroundPrimary));
$backgroundSecondary: rgb(var(--backgroundSecondary));

$textPrimary: rgb(var(--textPrimary));
$textSecondary: rgb(var(--textSecondary));
$textAlternate: rgb(var(--textAlternate));