@import './colors';
@import './fonts';

/// -------------------------------------------------- ///

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: $dark-grey;
  margin: 0.5rem 0;
}

::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 0.25em;
}

/// -------------------------------------------------- ///

.navBar {
  position: fixed;
  background-color: $medium-dark-grey;
  opacity: 0;
  animation-delay: 3s;
  animation-duration: 1.5s;
  animation-name: fade-in;
  animation-fill-mode: forwards;
}

.navBar.desktop {
  background-color: $dark-grey;
  width: 100%;
  height: 2.5em;
  font-size: 1.5rem;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navBar.desktop .icon {
  color: $primary;
}

.navBar.desktop ul {
  height: 100%;
  display: flex;
  list-style-type: none;
  align-items: center;
}

.navBar.desktop ul button {
  margin: 0 0.5em;
  padding: 0.1em 0.5em;
  transition-duration: 0.2s;
  background-color: transparent;
  color: inherit;
  border: none;
  font-size: 1em;
  font-family: inherit;
}

.navBar.desktop ul button:hover {
  transform: scale(1.05);
  color: $primary;
  cursor: pointer;
}

/// -------------------------------------------------- ///

.navBar.mobile {
  width: 100vw;
  height: 100vh;
  z-index: 8;
  top: 0;
  transform: translateY(-100%);
  transition-duration: 0.5s;
  touch-action: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar.mobile.is-active {
  transform: translateY(0);
}

.navBar.mobile .icon {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 2.5rem;
}

.navBar.mobile ul {
  list-style-type: none;
  text-align: center;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.navBar.mobile ul button {
  margin: 0.25em 0;
  padding: 0.1em 0.5em;
  background-color: transparent;
  color: inherit;
  border: none;
  font-size: 1em;
  font-family: inherit;
}

/// -------------------------------------------------- ///

.particles {
  opacity: 0;
  animation-delay: 0.5s;
  animation-duration: 3s;
  animation-name: fade-in;
  animation-fill-mode: forwards;
}

section {
  width: 90%;
  max-width: 90em;
  margin: 5em auto;
  padding: 1em 2em;
  padding-bottom: 3em;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 1em;
  font-size: 1.2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

section .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: $primary;
  margin-bottom: 1em;
}

section .title::before,
section .title::after {
  content: "";
  display: block;
  position: relative;
  margin: 0 1em;
  width: 100%;
  height: 0.05em;
  background-color: $light-grey;
  opacity: 0.5;
}

/// -------------------------------------------------- ///

.hamburger {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.25rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  opacity: 0;
  animation-delay: 3s;
  animation-duration: 1.5s;
  animation-name: fade-in;
  animation-fill-mode: forwards;
  z-index: 10;
}

.line {
  width: 100%;
  height: 0.5rem;
  background-color: $light-grey;
  border-radius: 0.1rem;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.top {
  animation-name: navTopReverse;
}

.middle {
  animation-name: navMiddleReverse;
}

.bottom {
  animation-name: navBottomReverse;
}

.is-active .top {
  animation-name: navTop;
}

.is-active .middle {
  animation-name: navMiddle;
}

.is-active .bottom {
  animation-name: navBottom;
}

@keyframes navTop {
  from {transform: translateY(0) rotate(0);}
  50% {transform: translateY(1rem);}
  to {transform: translateY(1rem) rotate(45deg);}
}

@keyframes navTopReverse {
  from {transform: translateY(1rem) rotate(45deg);}
  50% {transform: translateY(1rem) rotate(0);}
  to {transform: translateY(0);}
}

@keyframes navMiddle {
  from {width: 100%;}
  50% {width: 0;}
  to {width: 0;}
}

@keyframes navMiddleReverse {
  from {width: 0;}
  50% {width: 0;}
  to {width: 100%;}
}

@keyframes navBottom {
  from {transform: translateY(0) rotate(0);}
  50% {transform: translateY(-1rem);}
  to {transform: translateY(-1rem) rotate(-45deg);}
}

@keyframes navBottomReverse {
  from {transform: translateY(-1rem) rotate(-45deg);}
  50% {transform: translateY(-1rem) rotate(0);}
  to {transform: translateY(0);}
}

/// -------------------------------------------------- ///

#home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 0;
  background: transparent;
}

#home h2 {
  font-size: 1em;
}

#home h1, #home h2 {
  opacity: 0;
  animation-delay: 2s, 1.5s;
  animation-duration: 2s;
  animation-name: fade-in, slide-in;
  animation-fill-mode: forwards;
}

/// -------------------------------------------------- ///

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  background: transparent;
}

#contact .external-accounts {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 2rem;
}

#contact .external-accounts .account a {
  margin: 0 0.5em;
  padding: 0.1em;
  display: block;
  color: $light-grey;
  transition-duration: 0.25s;
}

#contact .external-accounts .account a:hover {
  cursor: pointer;
  color: $primary;
  transform: translateY(-0.1em);
}

/// -------------------------------------------------- ///

#about .infoBox {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 2em;
  padding: 0.75em;
  max-width: 35em;
  text-align: center;
}

#about .img {
  margin: 2rem;
}

#about .img .imgFile {
  margin-top: 3rem;
  border-radius: 1em;
  z-index: 3;
}

#about .img .imgFile::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary;
  opacity: 0.5;
  transition-duration: 0.25s;
}

#about .img:hover .imgFile::after {
  opacity: 0;
}

#about .img .outline {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 0.25em solid $primary;
  border-radius: 1em;
  transform: translate(10%, -90%);
  transition-duration: 0.25s;
  z-index: 2;
}

#about .img:hover .outline {
  transform: translate(5%, -95%);
}

#about .infoBox.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

#about .infoBox.second ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 50%));
  max-width: 100%;
  place-items: center left;
}

#about .infoBox.second ul li::before {
  content: '\25B8';
  margin-right: 0.75em;
  color: $primary;
}

/// -------------------------------------------------- ///

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slide-in {
  from {transform: translateX(-100%);}
  to {transform: translateX(0);}
}

[data-aos="section-slide-in"] {
  transform: translateX(-25%);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateX(0);
    opacity: 1;
  }
}

/// -------------------------------------------------- ///

@media (orientation: landscape) {
  .navBar.mobile {
    padding-top: 3em;
    align-items: flex-start;
  }
}