@import './colors';
@import './fonts';

/// ------------------------- Page Scroll Bar ------------------------- ///

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: $background_page;
  margin: 0.5rem 0;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 0.25em;
}

/// ------------------------- tsParticles ------------------------- ///

#tsParticles {
  // position: fixed;
  // width: 100%;
  // height: 100%;
  opacity: 0;
  animation-delay: 0.5s;
  animation-duration: 3s;
  animation-name: fade-in;
  animation-fill-mode: forwards;
}

/// ------------------------- Hamburger Button ------------------------- ///

.hamburger {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 3.5em;
  height: 3em;
  transition-duration: 0.5s;
  z-index: 10;
  cursor: pointer;
}

.line {
  position: absolute;
  top: 1.25em;
  width: 3.5em;
  height: 0.5em;
  background-color: $text_primary;
  border-radius: 0.15em;
  transition-duration: 0.5s;
}

.line::before {
  content: '';
  position: absolute;
  top: -1.25em;
  width: 3.5em;
  height: 0.5em;
  background-color: $text_primary;
  border-radius: 0.15em;
  transition-duration: 0.5s;
}

.line::after {
  content: '';
  position: absolute;
  top: 1.25em;
  width: 3.5em;
  height: 0.5em;
  background-color: $text_primary;
  border-radius: 0.15em;
  transition-duration: 0.5s;
}

.is-active .line {
  transition-duration: 0.25s;
  background: transparent;
}

.is-active .line::before {
  transition-duration: 0.5s;
  top: 0;
  transform: rotateZ(40.6deg) scaleX(1.15);
}

.is-active .line::after {
  transition-duration: 0.5s;
  top: 0;
  transform: rotateZ(-40.6deg) scaleX(1.15);
}

/// ------------------------- Nav Menu ------------------------- ///

.navBar {
  position: fixed;
  width: 100%;
  height: 100%;
  font-size: 1.75rem;
  z-index: 9;
  background-color: $background_page;
  background-color: rgba(var(--background_page), 0.75);
  backdrop-filter: blur(10px);
  transition-duration: 0.5s;
  transform: translateY(-100%);
}

.navBar.is-active {
  transform: translateY(0);
}

.navBar ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75em;
}

.navBar ul button {
  display: block;
  font-size: 1.25em;
  font-family: inherit;
  padding: 0.25em 1em;
  background-color: transparent;
  color: $text_primary;
  border: none;
  cursor: pointer;
  transition-duration: 0.25s;
}

.navBar ul button:hover {
  font-size: 1.4em;
  color: $primary;
}

.navBar .toggle-switch {
  position: absolute;
  top: 2.75rem;
  left: 2rem;
  display: flex;
  height: 1.25em;
  aspect-ratio: 2;
  padding: 0.125em;
  border-radius: 0.625em;
  box-shadow: 0 0 7px 1px $secondary;
  cursor: pointer;
  transition: all 0.25s;
}

.navBar .toggle-switch .switch {
  display: block;
  height: 100%;
  aspect-ratio: 1;
  background-color: $primary;
  border-radius: 50%;
  transition: all 0.25s;
}

.navBar .toggle-switch[aria-checked="true"] .switch {
  transform: translateX(1.25em);
}

/// ------------------------- Content Alignments ------------------------- ///

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 3rem;
}

/// ------------------------- Generalized Section ------------------------- ///

.section {
  width: 100%;
  padding: 2em;
  font-size: 1.2rem;
  background-color: rgba(var(--background_section), 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  transition-duration: 0.5s;
}

.section .title {
  width: 100%;
  margin-bottom: 1em;
  color: $primary;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.section .title span {
  margin: 0 1em;
}

.section .title::before,
.section .title::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: $text_secondary;
  opacity: 0.5;
}

/// ------------------------- Home Section ------------------------- ///

#home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#home h1 {
  font-size: 8vw;
}

#home h2 {
  font-size: 4vw;
}

#home h1,
#home h2 {
  opacity: 0;
  animation-delay: 2s, 1.5s;
  animation-duration: 2s;
  animation-name: fade-in, slide-in;
  animation-fill-mode: forwards;
}

/// ------------------------- About Section ------------------------- ///

#about .infoBox {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 2em;
  padding: 0.75em;
  max-width: 35em;
  text-align: center;
}

#about .img {
  margin: 2rem;
}

#about .img .imgFile {
  border-radius: 1em;
  z-index: 3;
}

#about .img .imgFile::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--secondary), 0.5);
  opacity: 0.5;
  transition-duration: 0.25s;
}

#about .img:hover .imgFile::after {
  opacity: 0;
}

#about .img .outline {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 0.25em solid $primary;
  border-radius: 1em;
  transform: translate(10%, -92%);
  transition-duration: 0.25s;
  z-index: 2;
}

#about .img:hover .outline {
  transform: translate(5%, -95%);
}

#about .infoBox.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

#about .infoBox.second ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 50%));
  max-width: 100%;
  place-items: center left;
}

#about .infoBox.second ul li::before {
  content: '\25B8';
  margin-right: 0.75em;
  color: $secondary;
}

/// ------------------------- Project Section ------------------------- ///

#project .projects-container {
  display: flex;
  border: 2px solid red;
}

/// ------------------------- Connect Section ------------------------- ///

#connect {
  background: transparent;
  backdrop-filter: none;
}

#connect .external-accounts {
  width: 100%;
  font-size: 2rem;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  justify-content: center;
}

#connect .external-accounts > * {
  padding: 0.4em 0.5em 0.15em 0.5em;
  color: $text_primary;
  cursor: pointer;
  transition-duration: 0.25s;
}

#connect .external-accounts > *:hover {
  color: $secondary;
  transform: translateY(-0.1em);
}

/// ------------------------- General Animations ------------------------- ///

.fade-in {
  opacity: 0;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-name: fade-in;
  animation-fill-mode: forwards;
}

/// ------------------------- Keyframes ------------------------- ///

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slide-in {
  from {transform: translateX(-100%);}
  to {transform: translateX(0);}
}

/// ------------------------- Media Queries ------------------------- ///

@media only screen and (max-height: 480px) {
  .navBar {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 720px) {

  .section {
    width: 90%;
    border-radius: 0.5em;
  }

  #home h1 {
    font-size: 3.65rem;
  }

  #home h2 {
    font-size: 1.8rem;
  }
}