@import '../../styles/colors';
@import '../../styles/fonts';

/// ------------------------- Wrapper Handling ------------------------- ///

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

footer {
  width: 100%;
  padding: 3rem;
  margin-top: auto;
  background-color: $backgroundSecondary;
  color: $textSecondary;
  text-align: center;
}